@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.container-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
}

label{
    width: 40%;
}

input{
    width: 50%;
    padding: 0.1rem;
    border-radius: 0.4rem;
    outline: none;
}

input:focus{
    border-color: blue;
}

.output-container{
    width: 100%;
}